PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGO_URI=mongodb+srv://sloozebackend_db_user:<6qeQyrxSiox19X1O>@sloozebackend.iqmqvze.mongodb.net/?appName=Sloozebackend

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
